<!-- url is going to be different every single time -->
<!-- so we're using a variable to pass in a dynamic url -->
<!-- that we're going to change every single time based on -->
<!-- what url we want to delete -->
<form method="POST" action="<%= url %>?_method=DELETE">
    <button type="submit">Obriši</button>
</form>