<header>
    <nav>
        <a href="/">Moji najdraži filmovi</a>
        <ul>
            <li><a href="/directors">Redatelji</a></li>
            <li><a href="/directors/new">Dodaj Redatelja</a></li> 
        </ul>
    </nav>
</header>