<!-- 
reason to use partials is because it allows you to break out
your ejs into smaller files, and it allows you to import these files
multiple files in another filoes so no duplication needed -->
<header>
    <nav>
        <a href="/">Moji najdraži filmovi</a>
        <ul>
            <li><a href="/directors">Redatelji</a></li>
            <li><a href="/directors/new">Dodaj Redatelja</a></li> 
        </ul>
    </nav>
</header>