<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- filepond -->
    <!-- used plugins:  -->
    <!-- 1. and 2. basic ones -->
    <!-- 3. file encode -->
    <!-- 4. image prefiew -->
    <!-- 5. image resize -->
    <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
    <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css"
        rel="stylesheet">
    <!-- defer = to load and run after the entire body is done rendering  -->
    <script defer src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
    <script defer src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
    <script defer src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>
    <script defer src="https://unpkg.com/filepond/dist/filepond.js"></script>
    <!--  -->
    <!-- including our own script tag to set up filepond library -->
    <script defer src="/javascripts/fileUpload.js"></script>
    <link rel="stylesheet" href="/stylesheets/shared/fonts.css">
    <link rel="stylesheet" href="/stylesheets/shared/variables.css">
    <link rel="stylesheet" href="/stylesheets/shared/header.css">
    <link rel="stylesheet" href="/stylesheets/shared/buttons.css">
    <link rel="stylesheet" href="/stylesheets/shared/form.css">
    <link rel="stylesheet" href="/stylesheets/shared/top.css">
    <link rel="stylesheet" href="/stylesheets/shared/director.css">
    <link rel="stylesheet" href="/stylesheets/shared/movies.css">
    <link rel="stylesheet" href="/stylesheets/shared/actors.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <title>Moji filmovi</title>
</head>

<body>
    <div class="top-nav">
        <%- include('../partials/header.ejs') %>
    </div>
    <div class="inner-container">
        <%- include('../partials/errorMessage.ejs') %>
        <%- body %>
    </div>
</body>

</html>