<h2>Nedavno dodani filmovi</h2>
<div>
    <% movies.forEach(movie => { %>
        <!-- we need that direct path to where that cover image is uploaded -->
        <!-- movie model -->
    <a href="/movies/<%= movie.id %>"><img height="150" width="100" src="<%= movie.coverImagePath %>"></a> 
    
    <% }) %>
</div>