<h2>Top Lista Filmova</h2>

<div>
    <% moviesByRating.forEach(movie => { %>
    <a href="/movies/<%= movie.id %>"><img height="150" width="100" src="<%= movie.coverImagePath %>"></a>
    <span><%= movie.rating %></span>
    <% }) %>
</div>

