<h2>Novi redatelj</h2>
<form action="/directors" method="POST">
    <%- include('_form_fields')%> 
    <!-- anchor tags are used to link things  -->
    <!-- buttons used to interact with forms or other objects  -->
    <a href="/directors">Odustani</a>
    <button type="submit">Kreiraj</button>
</form>