<div class="form-row">
    <div class="form-item">
        <label>Ime i Prezime</label>
        <input type="text" name="name" value="<%= actor.name %>">
    </div>
</div>
<div class="form-row">
    <div class="form-item form-item-no-grow">
        <label>Slika Glumca</label>
        <input type="file" name="cover" class="cover-size filepond">
    </div>
    <div class="form-item">
        <label>Opis</label>
        <textarea rows="4" cols="50" name="description"><%= actor.description %></textarea>
    </div>
</div>