<div>
    <label>Ime i Prezime</label>
    <input type="text" name="name" value="<%= actor.name %>">
</div>
<div>
    <label>Slika Glumca</label>
    <input type="file" name="cover" class="filepond">
</div>
<div>
    <label>Komentar</label>
    <textarea rows="4" cols="50" name="description"><%= actor.description %></textarea>
</div>