<h2>Novi glumac</h2>

<form action="/actors" method="POST">
    <%- include('_form_fields')%>
    <div class="form-row form-row-end btn-row">
        <a class="btn btn-danger" href="/actors">Odustani</a>
        <button class="btn btn-primary" type="submit">Kreiraj</button>
    </div>
</form>