<h2>Uredi film</h2>
<!-- action is url where the form goes to -->
<!-- to use post method, you can only use forms -->

<!-- method override parameter -->
<form action="/movies/<%= movie.id %>?_method=PUT" method="POST">
    <%- include('_form_fields')%>
    <div class="form-row form-row-end btn-row">
        <!-- anchor tags are used to link things  -->
        <!-- buttons used to interact with forms or other objects  -->
        <a class="btn btn-danger" href="/movies">Odustani</a>
        <button class="btn btn-primary" type="submit">Spremi</button>
    </div>
</form>