<h2>Pretraži filmove</h2>

<!-- action is url where the form goes to -->
<form action="/movies" method="GET">
    <div>
        <label>Naslov</label>
        <input type="text" name="title" value="<%= searchOptions.title %>">
    </div>
    <div>
        <label>Izlazak nakon</label>
        <input type="date" name="publishedAfter" value="<%= searchOptions.publishedAfter %>">
    </div>
    <div>
        <label>Izlazak prije</label>
        <input type="date" name="publishedBefore" value="<%= searchOptions.publishedBefore %>">
    </div>
    <button type="submit">Traži</button>
</form>
<br>
<br>
    
<!-- display all movies -->
<div>
    <% movies.forEach(movie => { %>
        <!-- we need that direct path to where that cover image is uploaded -->
        <!-- so we need to create variable of coverImagePath inside movie model --> 
    <img height="150" width="100" src="<%= movie.coverImagePath %>">
    <% }) %>
</div>