<h2>Novi film</h2>
<!-- action is url where the form goes to -->
<!-- to use post method, you can only use forms -->

<!-- MULTER: -->
<!-- tells server that form is sending multipart data which could include a file (for our cover image) -->
<!-- removed enctype="multipart/form-data" -->
<form action="/movies" method="POST">
    <%- include('_form_fields')%> 
    <!-- anchor tags are used to link things  -->
    <!-- buttons used to interact with forms or other objects  -->
    <a href="/movies">Odustani</a>
    <button type="submit">Kreiraj</button>
</form>